*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: white;
    background-size: cover;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{

    margin-bottom: 0;

}

.navegador{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-size: 20px;
    color: black;
    list-style: none;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.juegos_seccion{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: flex-end;
    background-color: black;
    padding-bottom: 100px;
}

.juegos_titulo{
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}

hr{
    opacity: 1;
    width: 100%;
}

.juegos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 5%;
}

.juegos_fila{
    display: flex;
    gap: 20px;
}

.cajas{
    display: flex;
    gap: 150px;
    color: white;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: 20%;
    height: 30%;
}


img{
    display: flex;
    object-fit: cover;
    position: relative;
    height: 50%;
    width: 50%;
    border-radius: 5px;
}

#contenedor{
    height: 500px;
    display: flex;
    background-color: brown;
    align-items: center;
    justify-content: center;
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
    background-size: cover;
    border: 5px solid black;
    gap: 20px;
    border-radius: 5px;
    padding: 10px;
}

#mostrarPersonas{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.juegazos{
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    border: 5px solid black;
    justify-content: center;
    width: 50%;
    background-color: blue;
    color: white;
    font-size: 30px;
    gap: 20px;
}

.btn{

    display: flex;
    align-self: flex-end;
    width: 50%;

}

.card-body{

    display: flex;
    flex-direction: column;
    align-items: center;

}

img{

    display: flex;
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#modalBtn{
    display: flex;
    align-self: auto;
    width: 3%;
    height: 60%;
    object-fit: cover;
    justify-content: center;
    background-image: url(./assets/carrito2.png);
    background-size: cover;
    margin-right: 20px;
}

.boton{
    display: flex;
    align-self: flex-end;
    width: 20%;
    height: 60%;
    object-fit: cover;
    justify-content: center;
    background-image: url(./assets/carrito2.png);
    background-size: cover;
    margin-right: 20px;
}